.commonHeaderNavigation, .commonFooter{
    display: flex;
    height: 60px;
    background-color: #ddd;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.commonHeaderNavigation:after{
    content: '';
    display: block;
}

.navItemContainer{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.navItem{
    font-size: 22px;
    text-align: left;
}

.commonFooter{
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}