.container{
    display: grid;
    grid-template-columns: 220px 1fr;
    height: calc(100vh - 160px);
}

.sideMenu{
    background-color: #f3f3f3;
}

.sideMenu .linkItem {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.routerContainer{
    padding: 40px;
}